.ballot {
  &__choice-container {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: $color-grey;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: $box-shadow-light;
  }

  &__choice-text {
    flex: 2 0;
    color: $color-primary;
    margin-top: 0.5rem;
    border: none;
    background-color: transparent;
    font-family: $font-primary;
    font-size: 1.5rem;
    min-width: 90%;
    max-width: 90%;
    min-height: 2rem;
    resize: none;	// resizing is automatic

    &:active, &:focus {
      outline: none;
    }
  }
  
  &__delete-choice-container {
  	display: flex;
  	flex: 2 0;
  	justify-content: flex-end;
  }  
  
  &__delete-choice-button {
    position: relative;
    border: 2px solid $color-primary;
    width: 2rem;
    height: 2rem;
    transition: all .2s;
    transform: scale(1) translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  &__delete-choice-icon {
  	display: block;
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) translateZ(0);
    height: 0.7rem;
    width: 2rem;
    transition: all .2s;
    fill: $color-primary;
  }
  
  &__choice-checkbox {
    flex: 1 0;
    width: 50%;
    position: relative;
    cursor: pointer;
    margin: 1rem 1rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      background-color: $color-primary;
    }
  }
  
  &__choice-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  	height: 1rem;
    width: 1rem;
    z-index: 10;
    fill: $color-white;
  }
  
  &__error-container {
    position: absolute;
    fill: $color-primary;
    top: 40%;
    left: -2rem;
  	color: black;
  }
  
  &__error-icon {
  	width: 1.5rem;
  	height: 1.5rem;
  }
}

.choice-selectable {
	cursor: pointer;
}

.choice-not-editable {
	user-select: none;
}