*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
	font-size: 62.5%;
	
    @include respond(tablet) {
        font-size: 60%;
    }

    @include respond(tablet-md) {
        font-size: 58%;
    }

    @include respond(mobile-lg) {
        font-size: 50%;
    }

    @include respond(slick) {
        font-size: 20%;
    }
}

body {
  box-sizing: border-box;
  background-color: $color-primary;
  
  @include respond(tablet) {
        background-color: blue;
    }

    @include respond(tablet-md) {
        background-color: orange;
    }

    @include respond(mobile-lg) {
        background-color: yellow;
    }

    @include respond(slick) {
        background-color: pink;
    }
}

::selection {
  background-color: darken($color-grey, 10);
}