body {
  font-family: 'Acme', sans-serif;
  color: $color-white;
}

h1 {
  font-family: 'Acme', sans-serif;
  color: $color-white;
  font-size: 3rem;
  padding: 2rem;
  text-decoration: underline;
  text-shadow: $text-shadow-med;
  user-select: none;
}
