// -----------------
// COLORS
// ------------------
$color-primary: #ff6059;
$color-white: white;
$color-grey: rgb(230, 230, 230);

// -----------------
// FX
// ------------------
$box-shadow-light: 0.1rem 0.25rem 0.15rem rgba(0, 0, 0, .15);

// -----------------
// FONTS
// ------------------
$font-primary: 'Acme';