.ballot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  &__header {
    font-size: 4rem;
    margin-bottom: 2rem;
    user-select: none;
    animation: scale-and-fade-in 1s;
    
    @include respond(tablet-md) {
    	font-size: 3rem;
    }
    
    @include respond(slick) {
    	font-size: 4.5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 2rem;
    min-height: 40vh;
    width: 50%;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: $box-shadow-light;
    animation: fade-in-and-move-up 1s;
    transition: all .2s;
    
    @include respond(tablet) {
    	width: 80%;
    }

    @include respond(tablet-md) {
    	width: 90%;
    }
  }

  &__question {
    font-family: $font-primary;
    min-width: 100%;
    max-width: 100%;
    min-height: 4rem;
    font-size: 3rem;
    word-break: break-word;
    color: $color-primary;
    border: none;
    resize: none;	// resizing is automatic

    &:active, &:focus {
      outline: none;
    }
  }

  &__choices-box {
    margin-top: 0.5rem;
  }

  &__submit-button {
    width: 20rem;
    height: 5rem;
    animation: scale-and-fade-in 1s;
    
    @include respond(tablet) {
    	font-size: 1.4rem;
    	width: 18rem;
    	height: 4rem;
    }
  }
}

.choice-fadeout {
  animation: fade-out 1s;
}